@import url("./normal.css");

.aet-api-row {
  display: flex;
  justify-content: space-between;
  height: 32px;
  &:hover {
    .aet-draggable__handle {
      display: flex;
    }
    .aet-api-row__body {
      background: rgba(0, 0, 0, 0.03);
    }
  }
}
.aet-api-row__body {
  flex: 1;
  display: flex;
  position: relative;
}
.aet-api-col {
  position: relative;
  padding: 4px 2px;
  min-width: 100px;
  text-align: left;
}
.aet-api-col-name {
  flex: 1;
}

.aet-draggable__handle {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -20px;
  width: 12px;
  height: 100%;
  padding: 0 4px;
  cursor: move;
  opacity: 0.5;
  font-size: 14px;
  &:hover {
    opacity: 1;
  }
}

.aet-api-col__input {
  display: flex;
  height: 100%;
  align-items: center;
  &-collapse {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    width: 12px;
    padding: 0 4px;
    height: 100%;
    color: rgba(0, 0, 0, 0.5);
    &:hover {
      color: rgba(0, 0, 0, 0.83);
      cursor: pointer;
    }
    &--collapsed {
      svg {
        transition: transform 250ms ease;
        transform: rotate(-90deg);
      }
    }
  }
  &-content-wrapper {
    flex: auto;
    height: 24px;
    position: relative;
  }
  &-content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    outline: none;
    text-align: left;
    height: 24px;
    line-height: 24px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
  }
  &-placeholder {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    height: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
  }
}
.aet-draggable-node {
  position: absolute;
  left: -18px;
  width: 12px;
}
